#wb_Heading1 {

    border: 0px solid #000000;
    border-radius: 0px;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0;
    padding: 0;
    text-align: center;
}

#Heading1 {
    color: #424242;
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
    margin: 0;
    text-align: center;
}

#wb_LayoutGrid1 {
    clear: both;
    position: relative;
    table-layout: fixed;
    display: table;
    text-align: center;
    width: 100%;

    border: 0px solid #CCCCCC;
    box-sizing: border-box;
    margin: 0;
}

#LayoutGrid1 {
    box-sizing: border-box;
    padding: 25px 15px 25px 15px;
    margin-right: auto;
    margin-left: auto;
}

#LayoutGrid1 > .row {
    margin-right: -15px;
    margin-left: -15px;
}

#LayoutGrid1 > .row > .col-1 {
    box-sizing: border-box;
    font-size: 0;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

#LayoutGrid1 > .row > .col-1 {
    float: left;
}

#LayoutGrid1 > .row > .col-1 {

    border: 0px solid #FFFFFF;
    border-radius: 0px;
    width: 100%;
    text-align: center;
}

#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after {
    display: table;
    content: " ";
}

#LayoutGrid1:after,
#LayoutGrid1 .row:after {
    clear: both;
}

@media (max-width: 480px) {
    #LayoutGrid1 > .row > .col-1 {
        float: none;
        width: 100% !important;
    }

    .ul-honeycomb .grid-item:nth-child(3n+1) {
        margin-left: 25% !important;
    }

    .ul-honeycomb .grid-item:nth-child(3n+2) {
        margin-left: 0 !important;
    }

    .ul-honeycomb .grid-item:nth-child(3n+3) {
        margin-left: 0 !important;
    }
}

.honey-layout-grid {
    clear: both;
    position: relative;
    table-layout: fixed;
    display: table;
    text-align: center;
    width: 100%;

    border: 0px solid #CCCCCC;
    box-sizing: border-box;
    margin: 0;
}

.layout-grid2 {
    box-sizing: border-box;
    padding: 50px 15px 50px 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
}

.layout-grid2 > .row {
    margin-right: -15px;
    margin-left: -15px;
}

.layout-grid2 > .row > .col-1, .layout-grid2 > .row > .col-2, .layout-grid2 > .row > .col-3 {
    box-sizing: border-box;
    font-size: 0;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.layout-grid2 > .row > .col-1, .layout-grid2 > .row > .col-2, .layout-grid2 > .row > .col-3 {
    float: left;
}

.layout-grid2 > .row > .col-1 {

    border: 0px solid #FFFFFF;
    border-radius: 0px;
    width: 16.66666667%;
    text-align: center;
}

.layout-grid2 > .row > .col-2 {

    border: 0px solid #FFFFFF;
    border-radius: 0px;
    width: 66.66666667%;
    text-align: left;
}

.layout-grid2 > .row > .col-3 {

    border: 0px solid #FFFFFF;
    border-radius: 0px;
    width: 16.66666667%;
    text-align: left;
}

.layout-grid2:before,
.layout-grid2:after,
.layout-grid2 .row:before,
.layout-grid2 .row:after {
    display: table;
    content: " ";
}

.layout-grid2:after,
.layout-grid2 .row:after {
    clear: both;
}

@media (max-width: 480px) {
    .layout-grid2 > .row > .col-1, .layout-grid2 > .row > .col-2, .layout-grid2 > .row > .col-3 {
        float: none;
    }
}

.ul-honeycomb, .ul-honeycomb * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ul-honeycomb {
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
}

.ul-honeycomb .grid-item {
    position: relative;
    transform: scale(1.00);
    visibility: hidden;
}

.ul-honeycomb .grid-item::after {
    content: '';
    display: block;
    padding-bottom: 86.602%;
}

.ul-honeycomb .grid-item-inner {
    margin: 0 2%;
    overflow: hidden;
    padding-bottom: 110.851%;;
    position: absolute;
    transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    visibility: hidden;
    width: 96%;
}

.ul-honeycomb .grid-item-inner * {
    position: absolute;
    visibility: visible;
}

.ul-honeycomb .grid-item a {
    color: var(--tblr-body-color);
    display: block;
    height: 100%;
    overflow: hidden;
    text-align: center;
    transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    width: 100%;
}

.ul-honeycomb .caption {
    background-color: var(--tblr-primary);
    box-sizing: border-box;
    color: var(--tblr-body-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    transition: all 600ms ease-in-out;
    width: 100%;
    z-index: 1;
}

.ul-honeycomb .grid-item .title {
    position: relative;
}

.ul-honeycomb .grid-item a:hover .caption, .ul-honeycomb .grid-item a:focus .caption {
    background-color: #000000;
    color: var(--tblr-primary);
}

.ul-honeycomb {
    padding-bottom: 5.5%;
}

.ul-honeycomb .grid-item {
    width: 25%;
}

.ul-honeycomb .grid-item:nth-child(7n+1) {
    margin-left: 12.5%;
}

.wb_Extension2 li i {
    font-size: 32px;
    width: 34px;
}

.ul-honeycomb .icon {
    --tblr-icon-size: none;
    margin: 0 0 4px 0;
    position: relative !important;
}

.ul-honeycomb a i {
    color: var(--tblr-body-color);
    position: relative !important;
    transition: color 600ms ease-in-out;
}

.ul-honeycomb a:hover i {
    color: var(--tblr-primary);
}

#wb_LayoutGrid3 {
    clear: both;
    position: relative;
    table-layout: fixed;
    display: table;
    text-align: center;
    width: 100%;
    border: 0px solid #CCCCCC;
    box-sizing: border-box;
    margin: 0;
}

#LayoutGrid3 {
    box-sizing: border-box;
    padding: 25px 15px 25px 15px;
    margin-right: auto;
    margin-left: auto;
}

#LayoutGrid3 > .row {
    margin-right: -15px;
    margin-left: -15px;
}

#LayoutGrid3 > .row > .col-1 {
    box-sizing: border-box;
    font-size: 0;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

#LayoutGrid3 > .row > .col-1 {
    float: left;
}

#LayoutGrid3 > .row > .col-1 {
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    width: 100%;
    text-align: center;
}

#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after {
    display: table;
    content: " ";
}

#LayoutGrid3:after,
#LayoutGrid3 .row:after {
    clear: both;
}

@media (max-width: 480px) {
    #LayoutGrid3 > .row > .col-1 {
        float: none;
        width: 100% !important;
    }
}

#wb_Text2 {

    border: 0px solid #000000;
    border-radius: 0px;
    padding: 0;
    margin: 0;
    text-align: center;
}

#wb_Text2 div {
    text-align: center;
}

#wb_Text2 {
    display: block;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

.wb_Extension2 {
    display: inline-block;
    width: 100%;
    z-index: 1;
}

#wb_Heading1 {
    display: inline-block;
    width: 100%;
    z-index: 0;
}

@media only screen and (max-width: 969px) {
    #wb_Heading1 {
        width: 100%;
        visibility: visible;
        display: block;
        margin: 0;
        padding: 0;
    }

    #wb_LayoutGrid1 {
        visibility: visible;
        display: table;
    }

    #wb_LayoutGrid1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #LayoutGrid1 {
        padding: 25px 15px 25px 15px;
    }

    #LayoutGrid1 .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .honey-layout-grid {
        visibility: visible;
        display: table;
    }

    .honey-layout-grid {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .layout-grid2 {
        padding: 50px 15px 50px 15px;
    }

    .layout-grid2 .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .wb_Extension2 {
        visibility: visible;
        display: block;
    }

    .ul-honeycomb {
        font-size: 16px;
    }

    .wb_Extension2 li i {
        font-size: 32px;
        width: 34px;
    }

    .ul-honeycomb {
        padding-bottom: 11.2%;
    }

    .ul-honeycomb .grid-item {
        width: 50%;
    }

    .ul-honeycomb .grid-item:nth-child(5n+4) {
        margin-left: 25%;
    }

    .ul-honeycomb .grid-item:nth-child(7n+5) {
        margin-left: 0;
    }

    .ul-honeycomb .grid-item:nth-child(9n+6) {
        margin-left: 0;
    }

    .ul-honeycomb .grid-item:nth-child(3n+3) {
        margin-left: 0;
    }

    #wb_LayoutGrid3 {
        visibility: visible;
        display: table;
    }

    #wb_LayoutGrid3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #LayoutGrid3 {
        padding: 25px 15px 25px 15px;
    }

    #LayoutGrid3 .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
